#header {
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#txt-hero {
  display: inline-block;
  margin: 20% auto;
}

#txt-hero h2 {
  font-size: 2em;
  font-weight: 600;
}

#txt-hero p {
  font-size: 1.5em;
  font-weight: 400;
}

.video-section{
  margin: 0 auto;
  width: 50%;
}

#txt-bloco2{
  margin: 0 auto;
  width: 80%;
  font-size: 2.5em;
  font-weight: 300;
}

.label-form{
  position:relative;
   left:-45%;
  

}

.centraliza-form{
   position:absolute;
   left:50%;
   top:50%;
   margin-left:-120px;
   margin-top: -45px;
}

.panel-heading span {
  display: inline-block;
  font-size: 18px;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
}

#field-valor-emprestimo {
  border-color: #1EB98A;
}

#btn-calc {
  width: 50%;
  font-size: 2.5em;
  margin-top: 30px;
}
